@{
    ViewData["Title"] = "Elecciones 2023";
}


<body>
<h1 class="titulo">@ViewBag.InfoPartido.Nombre </h1>
<img src="@ViewBag.InfoPartido.Logo" class="card-img-top" alt="...">

    <div class="cards">
    <div class="cards-partidos_container">
        <div class="card-grid">
         @{
                foreach (Candidato candidato in @ViewBag.candidatos ){ //cambiar a foreach
                <div class="col">
                    <div class="card h-100">
                    <img src="@candidato.Foto" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"> @candidato.Nombre  @candidato.Apellido </p>
                </div>
                <div class="card-footer">
                    <div class="submit"></div>
                </div>
        </div>
    </div>

                }
            } 
        </div>
    </div>
    </div>

</body>